__pycache__
.env
.venv

ffmpeg*/
checkpoints
cache/
backend/musetalk/models
backend/musetalk/data/avatars
backend/wav2lip/wav2lip/results
backend/wav2lip/wav2lip/temp
assets/avatar-skins/*
!/assets/avatar-skins/.gitkeep
!/assets/avatar-skins/tmp
assets/avatar-skins/tmp/*
!/assets/avatar-skins/tmp/.gitkeep
weights/*
!weights/.gitkeep
!/weights/checkpoints
/weights/checkpoints/*
!/weights/checkpoints/.gitkeep
backend/liveportrait/templates
/data/*
!/data/audio
/data/audio/*
!/data/audio/.gitkeep
!/data/wav2lip
/data/wav2lip/*
!/data/wav2lip/.gitkeep
!/data/sadtalker
/data/sadtalker/*
!/data/sadtalker/.gitkeep
!/data/tts
/data/tts/*
!/data/tts/.gitkeep
!/data/ollama
/data/ollama/*
!/data/ollama/.gitkeep