--extra-index-url https://download.pytorch.org/whl/cpu

torch==2.5.1+cpu
torchvision==0.20.1+cpu
diffusers==0.32.1
invisible-watermark==0.2.0
transformers==4.48.0
accelerate==1.2.1
onnx==1.17.0
peft==0.14.0

git+https://github.com/huggingface/optimum-intel.git

openvino==2025.0.0
gradio==5.11.0
nncf==2.14.1
IPython==8.31.0