gradio==5.0.0
openvino-dev==2024.4.0
nncf==2.13.0
optimum==1.22.0
optimum-intel==1.19.0
langchain==0.3.3
langchain-community==0.3.2
langchain-chroma==0.1.4
chromadb==0.5.12
transformers==4.44.2
sentence-transformers==3.1.1
pandas==2.2.3
ultralytics==8.3.9
openai-clip==1.0.1
moviepy==1.0.3
opencv-python==4.10.0.84

--extra-index-url https://pytorch-extension.intel.com/release-whl/stable/cpu/us/
torch==2.4.1
torchvision==0.19.1