fastapi[all]==0.115.6
uvicorn==0.32.1
soundfile==0.12.1
pydub==0.25.1

--extra-index-url https://download.pytorch.org/whl/cpu
optimum-intel[openvino,nncf]==1.21.0
openvino==2024.6.0
openvino_genai==2024.6.0
