# Server
fastapi==0.115.6
uvicorn==0.34.0

# Dependencies with version specifications
transformers==4.53.1
Pillow==11.1.0
diffusers==0.32.1
typing_extensions==4.12.2
nncf==2.14.1
accelerate==1.2.1
sentencepiece==0.2.0

# Additional index URL for PyTorch dependencies
--extra-index-url https://download.pytorch.org/whl/cpu

# OpenVINO with version specification
# git+https://github.com/huggingface/optimum-intel.git
optimum-intel==1.22.0
openvino==2025.1.0
openvino-tokenizers==2025.1.0
openvino-genai==2025.1.0
