--extra-index-url https://download.pytorch.org/whl/xpu
ipex-llm[xpu_2.6]
ffmpeg_python==0.2.0
langchain==0.3.24
langchain-vdms==0.1.4
numpy==1.26.4
opencv_python
Pillow
streamlit==1.37.0
streamlit_webrtc==0.62.4
transformers==4.52.1
ultralytics==8.3.75
uvicorn
decord
fastapi
ftfy
einops
httpx
langchain-community
tzlocal
torchvision
torch
torchaudio
requests
dateparser
openvino==2025.2.0
openvino-tokenizers==2025.2.0
openvino-genai==2025.2.0
opencv-python
numpy==1.26.4
optimum-intel@git+https://github.com/huggingface/optimum-intel.git
nncf
huggingface-hub

