git+https://github.com/huggingface/optimum-intel.git
openvino>=2024.6
openvino-tokenizers>=2024.6
openvino-genai>=2024.6
Pillow
diffusers>=0.30.3
gradio>=4.19
typing_extensions>=4.9
numpy<2.0.0; platform_system == "Darwin"
IPython
