# Server
fastapi==0.115.6
uvicorn==0.34.0

# Dependencies with version specifications
Pillow==11.1.0
diffusers==0.32.1
typing_extensions==4.12.2
numpy==2.1.3
IPython==8.31.0

# OpenVINO with version specification
# git+https://github.com/huggingface/optimum-intel.git
optimum-intel==1.22.0
openvino==2025.0.0
openvino-tokenizers==2025.0.0
openvino-genai==2025.0.0
