git+https://github.com/huggingface/optimum-intel.git
openvino==2025.0.0
openvino-tokenizers==2025.0.0
openvino-genai==2025.0.0
Pillow==11.1.0
diffusers==0.32.1
gradio==5.11.0
typing_extensions==4.12.2
numpy==2.1.3
IPython==8.31.0
