# requirements.txt

# Dependency from GitHub
git+https://github.com/initml/diffusers.git@clement/feature/flash_sd3

# Dependencies with version specifications
gradio==5.11.0
torch==2.5.1+cpu
transformers==4.47.1
nncf==2.14.1
datasets==3.2.0
opencv-python==4.10.0.84
pillow==11.1.0
peft==0.14.0
ipywidgets==8.1.5

# Additional index URL for PyTorch dependencies
--extra-index-url https://download.pytorch.org/whl/cpu

# OpenVINO with version specification
openvino==2025.0.0

# Server
fastapi==0.115.6
uvicorn==0.34.0