--pre
--extra-index-url https://download.pytorch.org/whl/nightly/xpu
torch
torchvision
torchaudio
transformers==4.53.0

tyro==0.8.14
opencv-python==4.10.*
imageio==2.36.0
scipy==1.14.1
onnxruntime-gpu==1.20.0
onnx==1.17.0
tqdm==4.67.0
scikit-image==0.24.0
pykalman==0.9.7
pyyaml==6.0.2
imageio[ffmpeg]==2.36.0
ffmpeg-python==0.2.0

fastapi[standard]